form.login{
	border:1px solid #fff;
	background: #fff;
	width: 320px;
	margin:20px auto;padding: 10px;margin-top: 100px;
	overflow:auto;
}
form.login h1{margin:0;font-size: 18px;color:#612121;}
form.login input{padding: 8px 6px;font-size: 16px;display: block;width:100%;margin:7px 0px;background:transparent;border:1px solid #9a5858;outline:0;color:#612121;}
form.login a{float: left;display:block;padding: 7px 0px;text-decoration:underline;color:#7d2b2b;}
form.login button{float: right;background:#63414100;padding:6px 16px;border:1px solid #732323;font-size: 16px;color:#7d2b2b;}
form.recup{
	margin:0 auto;width: 320px;padding:10px;overflow:auto;display:none;
}
form.recup label{font-size: 18px;margin-bottom: 2px;display:block;}
form.recup input{font-size: 16px;padding:6px;float: left;width: calc(100% - 85px);}
form.recup button{font-size: 16px;padding:6px 1px;float: left;width: 85px;text-align: center;}





.adm{
	overflow:auto;margin:20px auto;max-width: 850px;color: #111;
}
.adm_aside{
}
.a-1{width: 48%;}
.a-2{width: 48%;}

.add .add_titulo{
margin:0 auto;width: 100%;margin-top:10px;padding: 8px;
background:#f3f3f3;
}
.add form{
	margin:0 auto;width: 100%;padding: 0px 10px;
	border:1px solid #bac0c3;background: #fff;
}
.add form div{margin:10px 0px;}
.add form div label{
	margin:1px 0px;font-size: 18px;display:block;
}
.add form div input{
	width: 100%;padding: 4px 5px;font-size: 14.5px;
}
.add form div textarea{
	width: 100%;padding: 4px 5px;font-size: 16px;height: 60px;
}
.add form div .input_status{text-align: right;font-size: 14px;display: none;}
.add form fieldset input{
	width: 60px;border: none;padding:2px 2px;
}
.add form fieldset select{
	padding: 2.5px;background: #fff;color:#111;
}
.add form .add_submit{text-align: right;}
.add form .add_submit button{
	padding: 6px 8px;
}




.container_adm{
	color:#fff;
	border:1px solid red;
	margin: 0 auto;
    width: 100%;
    margin-top: 10px;
    padding: 8px;
}
.container_adm.account{
	text-align: right;overflow:auto;
}
.container_adm.account a{margin-left: 10px;text-decoration:underline;}
