form.login{
	border:1px solid #fff;
	background: #fff;
	width: 320px;
	margin:20px auto;padding: 10px;margin-top: 100px;
	overflow:auto;
}
form.login h1{margin:0;font-size: 18px;color:#612121;}
form.login input{padding: 8px 6px;font-size: 16px;display: block;width:100%;margin:7px 0px;background:transparent;border:1px solid #9a5858;outline:0;color:#612121;}
form.login a{float: left;display:block;padding: 7px 0px;text-decoration:underline;color:#7d2b2b;}
form.login button{float: right;background:#63414100;padding:6px 16px;border:1px solid #732323;font-size: 16px;color:#7d2b2b;}
form.recup{
	margin:0 auto;width: 320px;padding:10px;overflow:auto;display:none;
}
form.recup label{font-size: 18px;margin-bottom: 2px;display:block;}
form.recup input{font-size: 16px;padding:6px;float: left;width: calc(100% - 85px);}
form.recup button{font-size: 16px;padding:6px 1px;float: left;width: 85px;text-align: center;}



.adm{
	overflow:auto;margin:20px auto;max-width: 850px;color: #111;
}
.adm_aside{
}
.a-1{width: 48%;}
.a-2{width: 48%;}

.add .add_titulo{
margin:0 auto;width: 100%;margin-top:10px;padding: 8px;
background:#983e3e;overflow: auto;color:#fff;text-shadow:0px 0px 1px black;
}
.add .add_titulo a{color:#fff;}
.add .add_titulo .right a{margin-left: 5px;}
.add .add_titulo .left a{margin-right: 5px;}
.add .form{
	margin:0 auto;width: 100%;padding: 0px 10px;
	border:1px solid #983e3e;background: #f3e7e7;color:#983e3e;
}
.add .form a{
	color: #983e3e;
    text-decoration: underline;
}
.add .form div{margin:10px 0px;}
.add .form div label{
	margin:1px 0px;font-size: 18px;display:block;
}
.add .form div input{
	width: 100%;padding: 4px 5px;font-size: 14.5px;border: 1px solid #983e3e;color: #983e3e;background: #f3e7e7;
}


.add .form div.junto label{
	font-size: 16px;display:inline;padding: 1px 0px;
}
.add .form div.junto input[type="number"]{width: 60px;padding: 1px 2px;text-align:center;}



.add .form div textarea{
	width: 100%;padding: 4px 5px;font-size: 15px;height: 60px;border: 1px solid;color: #983e3e;background: #f3e7e7;
}
.add .form div .input_status{text-align: right;font-size: 14px;display: none;}
.add .form fieldset input{
	width: 60px;border: none;padding:2px 2px;background:#f3e7e7;
	border: 1px solid;color: #983e3e;text-align:center;
}
.add .form select{
	padding: 2.5px;background: #f3e7e7;color:#983e3e;border:1px solid;
}
.add .form select.cat{
	margin: 4px 0px;
}
.add .form .add_submit{overflow: auto;}
.add .form .add_submit button{
	background:transparent;color:#983e3e;border:1px solid;cursor:pointer;
	padding: 6px 8px;
}
.add .form .add_submit a{color:#983e3e;text-decoration:underline;}
.add .form .add_submit #carregando{display:none}
.add .form .add_submit #carregando img{width: 29px;}
#resultado{
	position: fixed;top:0;bottom:0;left:0;right:0;
	display:none;background:rgba(0,0,0,0.7);
}
#resultado .sub_result{
	padding: 10px;display:none;
	border-radius: 10px;
	width: 240px;margin:60px auto;
	background:#ffff;
	border:1px solid #sss;color:#111;
}
#resultado .sub_result  .result_title{font-size: 26px;}
#resultado .sub_result  .result_msg{font: 15px;}
#resultado .sub_result  .result_msg a{color:#6D0000;}
#resultado .sub_result  .result_close{text-align:center;margin-top:10px;}
#resultado .sub_result  .result_close a{color:red;}

/*aside*/
.container_adm{
	color:#fff;
	margin: 0 auto;
    width: 100%;
    margin-top: 10px;
    padding: 8px;
}
.container_adm.account{
	text-align: right;overflow:auto;background: #983e3e;
	border-bottom-left-radius: 20px;text-shadow:0px 0px 1px black;
}
.container_adm.account a{margin-left: 10px;text-decoration:underline;}
.container_adm.sql{
	border:1px solid #a03d1e;background:#fdfdfd;
	border-left-width: 4px;overflow:auto;color:#904e4e;
}
.container_adm.sql label{padding:6px 4px;}
.container_adm.sql input,.container_adm.sql button{background:transparent;border:1px solid;padding:6px 8px;color:#904e4e;}
.container_adm.sql #status_sql{
	float: left;padding:5px 3px;
}
.container_adm.sql img{width: 13px;}
.container_adm.links{padding:0;background: #fdfdfd;border:1px solid #983e3e;}
.container_adm.links .link{margin:0;display:block;width: 100%;}
.container_adm.links a{
	display: block;font-size: 18px;color: #7d2b2b;
	padding: 8px 10px;text-align: center;margin:0;
}
.container_adm.links .link{border-bottom:1px solid #d2a4a4;}
.container_adm.links .link:last-child{border-bottom:none}

.container_adm.links .link .sub_link{display:none;
	background: #fff;padding:0px 5px 5px 5px;text-align:center;
}
.container_adm.links .link .sub_link input,.container_adm.links .link .sub_link button{
	padding:3px 6px;background:transparent;color:#bf1a1a;border:1px solid;
}
.container_adm.links .link .sub_link .status a{
	font-size: 14px;text-decoration:underline;
}