Options -Indexes
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^categoria\/?([a-z,0-9,A-Z,_-]+)\/?$ /index.php?pi=categoria.php&cat=$1 [NC,L,QSA]
  RewriteRule ^busca\/?$ /index.php?pi=busca.php [NC,L,QSA]
  RewriteRule ^admin\/?$ /index.php?pi=admin.php [NC,L,QSA]
  RewriteRule ^watch\/?serie\/?([a-z,0-9,A-Z,_-]+)\/?$ /index.php?pi=watch-serie.php&url_serie=$1 [NC,L,QSA]
  RewriteRule ^sitemap([0-9]+).xml /sitemap$1.php [L]
  
</IfModule>
ErrorDocument 404 /paginas/404.html