/* GLOBAL */
*{box-sizing: border-box;font-family:arial;}
.close{
	float: right;
	font-weight: bold;
	font-size: 26px;cursor: pointer;
}
.sucesso{
	padding: 10px;margin:5px 0px;
	color:green;
	background: #c2ffc6;
	border:2px solid green;
}
.erro{
	margin:5px 0px;
	padding: 10px;
	color:red;
	background: #fcbbbb;
	border:2px solid red;
}
ul{list-style: none;margin:0;padding: 0;}
a{text-decoration:none;color:#167ac6;}

html{background:#f1f1f1;}
body{
	margin:0 auto;padding:0px;
	background: #f3f3f3;
}
header{
	background: #444;padding: 10px;
	font-size: 20px;color:#fff;
}
/* menu */
nav{background: #555;display: block;}
nav ul li{display: inline-block;position:relative;}
nav ul li a{
	display: block;
	padding: 8px 10px;
	border:1px solid #999;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	background: #555;
	color:#fff;
}
nav ul li a:hover{background: #666;}
nav ul li ul{
	position: absolute;z-index: 3;
	display: none;
	top:100%;left: 0%;
}
nav ul li ul li{
	display: block;margin-top: 3px;
}
nav ul li ul li a{display: block;}
/* EVENTOS */
nav ul li:hover ul{display: block;}
/* CONTEUDO */
main{overflow: auto;padding: 20px;margin:0px 5%;max-width: 1200px;}

aside{
	float: right;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.7);
	width: 30%; max-width: 400px;background: #fffefe;padding-bottom: 10px;
}
.site{
	background: #fff;
	float: left;padding:10px;
	width: 65%;max-width: 700px;

}
@media screen and (max-width: 850px) {
	main{margin:0px 1%;}
	aside,.site{float: none;margin: 10px auto;width: 97%;}
}
@media screen and (min-width: 1200px) {
	main{margin:0px auto;}
}
aside .version{
	text-align: center;padding: 8px;background: #555;width: 100%;margin:0;color:#fffefe;
	text-shadow: 3px 2px 2px rgba(255,255,255,0.5);
}
table {
    border-collapse: collapse;
    width: 100%;max-width: 200px;
    padding: 5px;margin:5px auto;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;;
}
aside  tr{width: 100%;}
aside  tr:nth-child(even){background-color: #f5f5f5;}
aside  th,aside  td {
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    color: #3d3d3d;
    overflow: auto;
}
aside  tr:last-child th,aside  tr:last-child td{border-bottom: none;}
aside  th{padding-right: 2px;}
aside  td{padding-left: 2px;}
/** CSS DAS PAGINAS **/
.topo{
	width: 100%;
	position: relative;
	display: flex;
	margin-bottom: 4px;
	padding: 10px 0px;
}